<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.yourcompany.barcodescan">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>

  <application android:hardwareAccelerated="true">
    <activity android:name="com.apptreesoftware.barcodescan.BarcodeScannerActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
  </application>
</manifest>
